<div id="mqplussettings">
	<div id="mqplushead">
		<h1>Musiqplus</h1>
		<h2 id="mqplusnav">
      <a class="mqplusactive" href="#">Settings</a>
      <a href="#">Theme</a> <a href="#">Shortcuts</a>
    </h2>
    <span class="mqplusclose" onclick="musiqplus.toggleSettings()">×</span>
	</div>
	<div id="mqpluscontent">
		<div class="mqplusactive" id="mqpSettings">
      {{#each setting}}
        <div class="mqpsetting option-mqp{{this.titleNoSpaces}}">
          <h1>{{this.title}}</h1><br><span>{{{this.description}}}</span>
          <div class="mqplusinput">
            {{#ifCond this.type '==' 'switch'}}
            <div class="checkboxwrapper">
              <input type="checkbox" name="mqptoggle" id="{{this.titleNoSpaces}}" class="mqpluscheckbox">
              <label for="{{this.titleNoSpaces}}"></label>
            </div>
            {{/ifCond}}
          </div>
        </div>
      {{/each}}
    </div>
		<div id="mqpTheme">

		</div>
		<div id="mqpShortcuts">

		</div>
	</div>
	<div id="mqplusfooter"></div>
</div>
