<div id="mqplussettings">
	<div id="mqplushead">
		<h1>Musiqplus</h1>
		<h2 id="mqplusnav">
      <a class="mqplusactive" href="#">Settings</a>
			<a href="#">Changelog</a>
      <a target="_blank" href="https://music.explodingcamera.com/">About</a>
    </h2>
    <span class="mqplusclose" onclick="musiqplus.toggleSettings()">×</span>
	</div>
	<div id="mqpluscontent">
		<div class="mqplusactive mqpluscontentpart" id="mqpSettings">
      {{#each setting}}
				{{#if this.visible}}
	        <div class="mqpsetting option-mqp{{this.titleNoSpaces}}">
	          <h1>{{this.title}}</h1><br><span>{{{this.description}}}</span>
	          <div class="mqplusinput">
	            {{#ifCond this.type '==' 'switch'}}
	            <div class="checkboxwrapper">
	              <input type="checkbox" name="mqptoggle" id="{{this.titleNoSpaces}}" class="mqpluscheckbox">
	              <label for="{{this.titleNoSpaces}}"></label>
	            </div>
	            {{/ifCond}}
							{{#ifCond this.type '==' 'dlibtn'}}
							<div class="ui download primary button" onclick="musiqplus.downloadSong();">
				        Download
				      </div>
							{{/ifCond}}
							{{#ifCond this.type '==' 'textinput'}}
							<div class="ui input focus">
					      <input id="mqplusbg" type="text" placeholder="Image URL">
					    </div>
							{{/ifCond}}
							{{#ifCond this.type '==' 'autoafk'}}
							<div class="ui input focus">
								<input id="mqplusafk" type="text" placeholder="Message">
								<input id="mqplusafktime" type="number" min="0" max="60">
							</div>
							{{/ifCond}}
	          </div>
	        </div>
				{{/if}}
      {{/each}}
    </div>
		<div id="mqpChangelog" class="mqpluscontentpart">
			<p><strong>Changelog</strong></p>
				<ul>
				<li><p><strong>18.01.2016</strong> AutoLike/Join are now fixed and don't spam the server anymore. Song download is implemented but I still need to fix some serverstuff beaucause chrome doesn't want me to use an iframe with a non-ssl site :( . I've also added some new Planned Features.</p></li>
				<li><p><strong>19.01.2016</strong> Song download is now implemented and Custom Backgrounds added.</p></li>
				<li><p><strong>20.01.2016</strong> Userscript extension loader added, bugs fixed and new Plug theme. I've also added DJ ETA.</p></li>
				<li><p><strong>21.01.2016</strong> ETA fixed</p></li>
				<li><p><strong>22.01.2016</strong> ETA fixed again + added AFK Autoresponse</p></li>
				<li><p><strong>24.01.2016</strong> real Fullscreen Video option added (Button is next to the YT Download Button).</p></li>
				</ul>
		</div>
		<div id="mqpAbout" class="mqpluscontentpart">

		</div>
	</div>
	<div id="mqplusfooter"></div>
</div>
