<div id="mqplussettings">
	<div id="mqplushead">
		<h1>Musiqplus</h1>
		<h2 id="mqplusnav">
      <a class="mqplusactive" href="#">Settings</a><!--
      <a href="#">Theme</a> <a href="#">Shortcuts</a>-->
    </h2>
    <span class="mqplusclose" onclick="musiqplus.toggleSettings()">×</span>
	</div>
	<div id="mqpluscontent">
		<div class="mqplusactive mqpluscontentpart" id="mqpSettings">
      {{#each setting}}
				{{#if this.visible}}
	        <div class="mqpsetting option-mqp{{this.titleNoSpaces}}">
	          <h1>{{this.title}}</h1><br><span>{{{this.description}}}</span>
	          <div class="mqplusinput">
	            {{#ifCond this.type '==' 'switch'}}
	            <div class="checkboxwrapper">
	              <input type="checkbox" name="mqptoggle" id="{{this.titleNoSpaces}}" class="mqpluscheckbox">
	              <label for="{{this.titleNoSpaces}}"></label>
	            </div>
	            {{/ifCond}}
							{{#ifCond this.type '==' 'dlibtn'}}
							<div class="ui download primary button" onclick="musiqplus.downloadSong();">
				        Download
				      </div>
							{{/ifCond}}
							{{#ifCond this.type '==' 'textinput'}}
							<div class="ui input focus">
					      <input id="mqplusbg" type="text" placeholder="Image URL">
					    </div>
							{{/ifCond}}
							{{#ifCond this.type '==' 'autoafk'}}
							<div class="ui input focus">
								<input id="mqplusafk" type="text" placeholder="Message">
								<input id="mqplusafktime" type="number" min="0" max="60">
							</div>
							{{/ifCond}}
	          </div>
	        </div>
				{{/if}}
      {{/each}}
    </div>
		<div id="mqpTheme" class="mqpluscontentpart">
		</div>
		<div id="mqpShortcuts" class="mqpluscontentpart">

		</div>
	</div>
	<div id="mqplusfooter"></div>
</div>
